.App {
  text-align: center;
}

.navbar-lang {
  width: 25px;
  height: 25px;
  margin: 3px;
}

.navbar-lang:hover {
  cursor: pointer;
  opacity: 70%;
}

.navbar-lang>:active {
  padding: 1px;
}

.bold-heading {
  font-size: 22px;
  font-style: italic;
}

.navbar-icon {
  width: 35px;
  height: 35px;
}

.navbar-icon:hover {
  cursor: pointer;
  opacity: 70%;
}