.App {
  text-align: center;
}

.navbar-lang {
  width: 25px;
  height: 25px;
  margin: 3px;
  margin-top: 10px;
}

.navbar-lang-elevated {
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-top: -10px;
}

.navbar-lang:hover {
  cursor: pointer;
  opacity: 70%;
}

.navbar-lang>:active {
  padding: 1px;
}

.navbar-dropdown-lang {
  width: 25px;
  height: 25px;
  margin: 3px;
  margin-top: 0px;
}

.bold-heading {
  font-size: 22px;
  font-style: italic;
}

.navbar-icon {
  width: 35px;
  height: 35px;
}

.navbar-icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.btn-light, .btn-light:active, .btn-light:visited {
  background-color: #d8d6d6 !important;
  border-color: #fcfcfc !important;
}

.btn-light:hover {
  color: #fcfcfc;
  background-color: #979797 !important;
  border-color: #fcfcfc !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em
}

.loader {
  display: "block";
  margin: "0 auto";
}

.map {
  height:300px;
  margin: 3%;
  border-radius: 10px;
}

.open-hours {
  height: 16px;
}