.App {
  text-align: center;
}

.navbar-lang {
  width: 25px;
  height: 25px;
  margin: 3px;
  margin-top: 10px;
}

.navbar-lang-elevated {
  width: 30px;
  height: 30px;
  margin: 5px;
  margin-top: -10px;
}

.navbar-lang:hover {
  cursor: pointer;
  opacity: 70%;
}

.navbar-lang>:active {
  padding: 1px;
}

.navbar-dropdown-lang {
  width: 25px;
  height: 25px;
  margin: 3px;
  margin-top: 0px;
}

.bold-heading {
  font-size: 22px;
  font-style: italic;
}

.navbar-icon {
  width: 35px;
  height: 35px;
}

.navbar-icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
  background-color: #a9a9a9 !important;
  border-color: #ffffff !important;
}

.btn-light:hover {
  color: #ffffFf;
  background-color: #696969 !important;
  border-color: #ffffff !important;
  font-weight:bolder;
}