@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=IBM+Plex+Sans+Condensed&family=Poppins:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
