.add-categories {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 10% 0px;
    padding: 20px 10px 0;
}

.categories {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    margin: 0 10%;
    padding: 10px 0;
}

.name {
    width: 150px;
    text-align: left;
}

.button {
    width: 25x;
    height: 25px;
}

.button:hover {
    opacity: 0.7;
    cursor: 1px;
}

.button:active {
    padding: 1px;
}