.App {
  position: relative;
  text-align: center;
}

body {
  margin: 0;
  padding: 20px;
  padding-bottom: 100px;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

