@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap);


@font-face {
  font-family: BoosterNextFY;
  src: url('../src/fonts/BoosterNextFY-Bold.woff2') format("woff2"), url('../src/fonts/BoosterNextFY-Bold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}


@font-face {
  font-family: BoosterNextFY;
  src: url('../src/fonts/BoosterNextFY-Light.woff2') format("woff2"), url('../src/fonts/BoosterNextFY-Light.woff') format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: BoosterNextFY;
  src: url('../src/fonts/BoosterNextFY-Black.woff2') format("woff2"), url('../src/fonts/BoosterNextFY-Black.woff') format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap
}


@font-face {
  font-family: BoosterNextFY;
  src: url('../src/fonts/BoosterNextFY-Thin.woff2') format("woff2"), url('../src/fonts/BoosterNextFY-Thin.woff') format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap
}


@font-face {
  font-family: BoosterNextFY;
  src: url('../src/fonts/BoosterNextFY-Regular.woff2') format("woff2"), url('../src/fonts/BoosterNextFY-Regular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: BoosterNextFY;
  src: url('../src/fonts/BoosterNextFY-Medium.woff2') format("woff2"), url('../src/fonts/BoosterNextFY-Medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--twn-font)
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
    margin-top: 0
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
    margin-bottom: 0
}

h1 {
  font-size: 2.8125rem;
  font-weight: 700;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase
}

h2 {
  font-size: 2rem;
  margin: 3.75rem 0 0
}

p {
  margin: 2.5rem 0;
}

p a {
  color: var(--twn-highlightColor)
}


@media screen and (max-width: 960px) {
  h1 {
      font-size: 4rem;
      font-weight: 700;
      color: var(--twn-highlightColor)
  }

  h2 {
      font-size: 2.25rem;
      font-weight: 600;
  }

  p {
    font-size: 1.4rem;
      font-weight: 600;
  }
}

body,
html {
    background: var(--twn-backgroundColor);
    margin: 0;
    color: var(--twn-alternateTextColor);
    font-family: var(--twn-textFont)
}

body {
    font-size: var(--twn-rootFontSize)
}

* {
    box-sizing: border-box
}

button{
  color: var(--twn-textColor);
  background-color: var(--twn-highlightColor);
  border: none;
  border-bottom: #03875c 7px solid;
  padding: 15px 50px;
  margin: 15px;
  font-family: var(--twn-font);
  text-transform: uppercase;
  font-weight: 700;
}

button:hover {
  background-color: #14cc76;
  transition: 0.5s;
}

.button-pair{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.custom-button {
  background-color: #ff66cc;

  border-bottom: #03875c;
  border-radius: 30px;
  color: white;
  padding: 15px 32px;

  font-size: 16px;
  font-weight: bolder;
}

.inline {
    max-width: var(--twnMaxWidth);
    min-height: 100%;
    margin: 0 auto
}

.inline,
.page {
    position: relative
}


.page {
  background-image: url('../src/images/bg-deco-left.svg'), url('../src/images/bg-deco-right.svg');
  background-repeat: no-repeat;
  background-position: var(--twn-menuWidth) bottom, 100% 0;
  background-size: 250px, 400px;
  background-attachment: fixed;
  display: block;
  margin-left: var(--twn-menuWidth);
  height: 100vh;
  overflow: auto;
  padding: 5rem 2.5rem
}

.text-center {
  text-align: center
}

.bar-items {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--twn-textColor);
  text-align: right;
  margin: 10px 0px;
  transition-duration: 0.25s;
}

#bar-items #bar-image{
  transition-timing-function: ease;
}

.bar-items:hover{
  color: var(--twn-highlightColor);  
}

.bar-image {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 3px;
  transition-duration: 0.25s;
}

.bar-image:hover {
  color: #14cc76;
  transform: scale(1.5); 
}

.top-bar {
  background-color: #ffffff ;
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  z-index: 2;
}

.top-logo {
  height: 55px;
  width: 150px;
  margin: 0 50%;
  z-index: 1;
}

.main-content {
  padding: 120px, 24px, 80px
}

.doggy-pic {
  width: 60vw;
}

table {
  width: 100%;
  margin: 35px 0;
  font-size: larger;
}
thead {
  background-color: rgb(55, 55, 55);
  height: 38px;
  border-bottom: 1px solid #fff;
}

thead th {
  padding: 10px;
}

thead th:hover {
  cursor: pointer;
}

tbody {
  font-weight: lighter;
  padding: 10px;
}

tbody tr {
  height: 47px;
  padding: 10px;
  border-bottom: 1px solid #fff;
  font-weight: 900;
}

.tighter-text {
  padding: 0 10px;
}

.selected {
  height: 47px;
  padding: 10px;
  color: rgb(100,100,100);
  background-color: #fff;
  font-weight: 900;
}

/* tbody tr:hover {
  cursor: pointer;
  color:rgb(25, 25, 25);
  transition: 0.15s;
} */

.expanded-data {
  height: 300px;
  background-color:#fff;
}

.personal-image {
  height: 340px;
  width: 340px;
  object-fit: cover;
  padding: 20px;
}

.expanded-text {
  height: 300px;
  margin-top: 0;
  color: rgb(100,100,100);
  line-height: 1.25;
  font-weight: 100;
  background-color: #fff;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pag-page {
  height: 50px;
  width: 50px;
  padding-top: 6px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  background-color: none;
  display: inline-block;
}

.pag-page:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
}

.light-row {
  opacity: 10%;
}


:root {
  --twn-font: BoosterNextFY;
  --twn-textFont: "Open Sans";
  --twn-rootFontSize: 16px;
  --twn-highlightColor: #14cc76;
  --twn-textColor: #3a3d57;
  --twn-alternateTextColor: #fff;
  --twn-secondaryColor: #ff57a2;
  --twn-backgroundColor: #3a3d57;
  --twn-linkHoverColor: #03875c;
  --twn-blockColor: #efefef;
  /* --twn-menuWidth: 220px; */
  --twn-menuWidth: 0px;
  --twnMaxWidth: 1000px
}

.text-highlight {
  color: var(--twn-highlightColor)
}
