.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-button {
  background-color:black;
  border-color: black;
  color: whitesmoke;
  padding: 15px 32px;
  width: 17 0px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.menu-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.avalehe-pilt {
  width: 200px;
}

.hele-tekst {
  color: lightblue;
  padding: 10px;
}

.valitud {
  font-weight: bold;
}
